/* VARIABLES */

@layer fonts {
  /* work-sans-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/work-sans-v23-latin-regular.woff2")
      format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* work-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/work-sans-v23-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/roboto-v48-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/roboto-v48-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer theme {
  :root {
    --c-primary: hsl(207, 26%, 40%);
    --c-accent: hsl(34, 44%, 69%);
    --c-background: hsl(30, 25%, 97%);
    --c-surface: hsl(0, 0%, 100%);
    --c-text-primary: hsl(210, 22%, 23%);
    --c-text-secondary: hsl(200, 18%, 46%);
    --c-border: hsl(0, 0%, 88%);

    /* 2. Tipografía  */
    --font-family-heading: "Work Sans", sans-serif;
    --font-family-body: "Roboto", sans-serif;

    --fs-h1: clamp(2rem, 1.25rem + 3.75vw, 4rem); /* ~32px a 64px */
    --fs-h2: clamp(1.75rem, 1.18rem + 2.83vw, 3rem); /* ~28px a 48px */
    --fs-h3: clamp(1.5rem, 1.1rem + 2vw, 2.25rem); /* ~24px a 36px */
    --fs-body: clamp(1rem, 0.9rem + 0.5vw, 1.125rem); /* ~16px a 18px */

    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* 3. Espaciado (Reintroducimos el sistema de 8pt) */
    --space-1: 0.5rem; /* 8px */
    --space-2: 1rem; /* 16px */
    --space-3: 1.5rem; /* 24px */
    --space-4: 2rem; /* 32px */
    --space-6: 3rem; /* 48px */
    --space-8: 4rem; /* 64px */

    /* 4. Otros Tokens */
    --radius-md: 8px;
    --shadow-md: 0 4px 8px hsla(0, 0%, 0%, 0.1);
  }
}
