/* FORM WITH CTA SECTION */

.cta-section {
  padding: var(--spacing-xxl) var(--spacing-lg);
  background-color: var(--clr-primary);
}

.cta-section__title {
  color: var(--clr-light);
  text-align: center;
}

.cta-section__description {
  color: var(--clr-neutral-light);
  text-align: center;
  max-width: 60ch;
  margin: var(--spacing-md) auto 0;
}

/* FORM */

.cta-form {
  margin-top: var(--spacing-xl);
  display: grid;
  gap: var(--spacing-lg);
}

.form-group {
  display: grid;
  gap: var(--spacing-sm);
}

.form-label {
  color: var(--clr-light);
  font-weight: var(--font-weight-bold);
}
