/* HEADER COMPONENT */

.header {
  padding: 1.2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--c-border);
}

.header img {
  width: 9rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
}
