/* HERO SECTION CSS */

.hero-section {
  display: grid;
  place-items: center;

  min-height: 90vh;
  padding: var(--spacing-xxl) var(--spacing-lg);
  background-color: var(--clr-primary);
  color: var(--clr-light);
  text-align: center;
}
