.process-section {
  padding: var(--spacing-xxl) var(--spacing-lg);
}

.process-list {
  counter-reset: process-counter;
  list-style: none;
  padding-left: 0;

  display: grid;
  gap: var(--spacing-xl);
}

.process-item {
  position: relative;
  padding-left: 4.5rem;
}

.process-item::before {
  counter-increment: process-counter;
  content: counter(process-counter);
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-md);
  display: grid;
  place-items: center;
}

.process-item__title {
  color: var(--clr-primary);
  font-size: var(--font-size-md);
  margin-bottom: var(--spacing-sm);
}

.process-item__description {
  color: var(--clr-neutral);
}
